In [42]:
import datetime
import pandas as pd
from random import randint
from pandas.tseries.offsets import MonthBegin

In [43]:
#creating random date data
dates = [[i,datetime.date(2019,randint(1,9),i)] for i in range(2,7)]

In [44]:
#creating dataframe from list of list
df = pd.DataFrame(dates,columns=['id','created_date'])
df

   id created_date
0   2   2019-06-02
1   3   2019-02-03
2   4   2019-04-04
3   5   2019-01-05
4   6   2019-04-06

In [47]:
#parse date
df['created_date_parsed'] = df[['created_date']].apply(pd.to_datetime)
df

   id created_date created_date_parsed created_date_first
0   2   2019-06-02          2019-06-02         2019-07-01
1   3   2019-02-03          2019-02-03         2019-03-01
2   4   2019-04-04          2019-04-04         2019-05-01
3   5   2019-01-05          2019-01-05         2019-02-01
4   6   2019-04-06          2019-04-06         2019-05-01

In [48]:
df['created_date_first'] = df['created_date_parsed'].apply(MonthBegin(n=1))
df

   id created_date created_date_parsed created_date_first
0   2   2019-06-02          2019-06-02         2019-07-01
1   3   2019-02-03          2019-02-03         2019-03-01
2   4   2019-04-04          2019-04-04         2019-05-01
3   5   2019-01-05          2019-01-05         2019-02-01
4   6   2019-04-06          2019-04-06         2019-05-01